*.tlog
*.vcxproj
devildoctor.vcxproj.filters
ReadMe.txt
targetver.h
Release/devildoctor.res
*.rc
*.user
x64/
Release/
Debug/
build/
*.swp
lib/glfw/
characters/
backgrounds/
fonts/
scripts/
textbox_bg/
